/* use this to get font import code: http://fonts.googleapis.com/css?family=FONT+NAME*/
/* use **latin**, not latin-extended */


@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/ODelI1aHBYDBqgeIAH2zlJbPFduIYtoLzwST68uhz_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v5/hMqPNLsu_dywMa4C_DEpY4gp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
  padding: 10px;
  font-size: 12pt;
  font-family: 'Source Sans Pro', sans-serif;
}

h4 {
  margin-top: 32px;
  font-weight: bold;
}

blockquote {
  font-size: 12pt;
  font-family: 'Source Sans Pro', sans-serif;
}

code {
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
}

pre {
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
}


h3.subtitle {
  font-size: 26px;
  /*color: #aca39a;*/
  font-style: normal !important;
  font-weight: lighter !important;
  border-bottom: none;
  padding-top: 4px !important;
}

h4.author { 
  font-size: 22px;
  color: #aca39a;
  font-weight: lighter !important;
  padding-top: 0px !important;
  margin-top: 2px !important;
  margin-bottom: 12px !important;
  padding-bottom: 12px !important;
}


h2 {
  border-bottom: 2px solid; 
}


